<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woniu.dao.BookingformMapper">
  <resultMap id="BaseResultMap" type="com.woniu.domain.Bookingform">
    <id column="bookingId" jdbcType="INTEGER" property="bookingid" />
    <result column="patientId" jdbcType="INTEGER" property="patientid" />
    <result column="sourceId" jdbcType="INTEGER" property="sourceid" />
    <result column="queuingId" jdbcType="INTEGER" property="queuingid" />
    <result column="bookingCode" jdbcType="VARCHAR" property="bookingcode" />
    <result column="bookingTime" jdbcType="TIMESTAMP" property="bookingtime" />
    <result column="bookingStatus" jdbcType="VARCHAR" property="bookingstatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    bookingId, patientId, sourceId, queuingId, bookingCode, bookingTime, bookingStatus
  </sql>
  <select id="selectByExample" parameterType="com.woniu.domain.BookingformExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from bookingform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from bookingform
    where bookingId = #{bookingid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bookingform
    where bookingId = #{bookingid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.woniu.domain.BookingformExample">
    delete from bookingform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.woniu.domain.Bookingform">
    insert into bookingform (bookingId, patientId, sourceId, 
      queuingId, bookingCode, bookingTime, 
      bookingStatus)
    values (#{bookingid,jdbcType=INTEGER}, #{patientid,jdbcType=INTEGER}, #{sourceid,jdbcType=INTEGER}, 
      #{queuingid,jdbcType=INTEGER}, #{bookingcode,jdbcType=VARCHAR}, #{bookingtime,jdbcType=TIMESTAMP}, 
      #{bookingstatus,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.woniu.domain.Bookingform">
    insert into bookingform
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookingid != null">
        bookingId,
      </if>
      <if test="patientid != null">
        patientId,
      </if>
      <if test="sourceid != null">
        sourceId,
      </if>
      <if test="queuingid != null">
        queuingId,
      </if>
      <if test="bookingcode != null">
        bookingCode,
      </if>
      <if test="bookingtime != null">
        bookingTime,
      </if>
      <if test="bookingstatus != null">
        bookingStatus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookingid != null">
        #{bookingid,jdbcType=INTEGER},
      </if>
      <if test="patientid != null">
        #{patientid,jdbcType=INTEGER},
      </if>
      <if test="sourceid != null">
        #{sourceid,jdbcType=INTEGER},
      </if>
      <if test="queuingid != null">
        #{queuingid,jdbcType=INTEGER},
      </if>
      <if test="bookingcode != null">
        #{bookingcode,jdbcType=VARCHAR},
      </if>
      <if test="bookingtime != null">
        #{bookingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookingstatus != null">
        #{bookingstatus,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.woniu.domain.BookingformExample" resultType="java.lang.Long">
    select count(*) from bookingform
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update bookingform
    <set>
      <if test="record.bookingid != null">
        bookingId = #{record.bookingid,jdbcType=INTEGER},
      </if>
      <if test="record.patientid != null">
        patientId = #{record.patientid,jdbcType=INTEGER},
      </if>
      <if test="record.sourceid != null">
        sourceId = #{record.sourceid,jdbcType=INTEGER},
      </if>
      <if test="record.queuingid != null">
        queuingId = #{record.queuingid,jdbcType=INTEGER},
      </if>
      <if test="record.bookingcode != null">
        bookingCode = #{record.bookingcode,jdbcType=VARCHAR},
      </if>
      <if test="record.bookingtime != null">
        bookingTime = #{record.bookingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.bookingstatus != null">
        bookingStatus = #{record.bookingstatus,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update bookingform
    set bookingId = #{record.bookingid,jdbcType=INTEGER},
      patientId = #{record.patientid,jdbcType=INTEGER},
      sourceId = #{record.sourceid,jdbcType=INTEGER},
      queuingId = #{record.queuingid,jdbcType=INTEGER},
      bookingCode = #{record.bookingcode,jdbcType=VARCHAR},
      bookingTime = #{record.bookingtime,jdbcType=TIMESTAMP},
      bookingStatus = #{record.bookingstatus,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.woniu.domain.Bookingform">
    update bookingform
    <set>
      <if test="patientid != null">
        patientId = #{patientid,jdbcType=INTEGER},
      </if>
      <if test="sourceid != null">
        sourceId = #{sourceid,jdbcType=INTEGER},
      </if>
      <if test="queuingid != null">
        queuingId = #{queuingid,jdbcType=INTEGER},
      </if>
      <if test="bookingcode != null">
        bookingCode = #{bookingcode,jdbcType=VARCHAR},
      </if>
      <if test="bookingtime != null">
        bookingTime = #{bookingtime,jdbcType=TIMESTAMP},
      </if>
      <if test="bookingstatus != null">
        bookingStatus = #{bookingstatus,jdbcType=VARCHAR},
      </if>
    </set>
    where bookingId = #{bookingid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.woniu.domain.Bookingform">
    update bookingform
    set patientId = #{patientid,jdbcType=INTEGER},
      sourceId = #{sourceid,jdbcType=INTEGER},
      queuingId = #{queuingid,jdbcType=INTEGER},
      bookingCode = #{bookingcode,jdbcType=VARCHAR},
      bookingTime = #{bookingtime,jdbcType=TIMESTAMP},
      bookingStatus = #{bookingstatus,jdbcType=VARCHAR}
    where bookingId = #{bookingid,jdbcType=INTEGER}
  </update>
</mapper>